.wrapper h6 {
    margin: 0;
}

.site-header {
    font-weight: 700;
}

.site-title {
    font-weight: 700;
    color: #111
}

.page-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.post-list {
    width: 100%;
}

.container-fluid {
    width: 100%;
    max-width: 1920px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.post-index-image {
    margin-top: -15px;
    margin-bottom: -34px;
    height: auto;
    width: 30%;
    padding: 2px;
    display: inline-block;
    float: none;
    vertical-align: top;
}

a.post-link {
    background-size: 100% 80%;
    height: 244px;
    background-repeat: no-repeat;
    background-position: center;
}

.post-title {
    text-align: center;
    font-weight: 500;
}

.site-footer {
    background-color: #242320;
}

.footer-text {
    text-align: center;
    color: white;
}

.footer-text h4 {
    font-size: 22px;
}

.footer-text h5 {
    font-size: 16px;
    color: gray;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline-grid;
    width: 8%;
}

.social-media-list a {
    color: gray;
    font-size: 20px;
}

.p-center {
    text-align: center;
}

.figure-block {
    text-align: center;
}

.center-image {
    display: inline-block;
    position: relative;
    padding: 5px;
    margin-left: auto;
    margin-right:auto;
    width: 340px;
    vertical-align: middle;
}

.image-caption {
    text-align: center;
    font-size: .8rem;
    color: gray;
}

.footer-heading {
    font-weight: 700;
}